@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./blocks/page/page.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/banner/banner.css);
@import url(./blocks/banner/__title/bunner__title.css);
@import url(./blocks/banner/__title-wrap/bunner__title-wrap.css);
@import url(./blocks/banner/__subtitle/bunner__subtitle.css);
@import url(./blocks/banner/__icon/bunner__icon.css);
@import url(./blocks/banner/__icons-wrap/bunner__icons-wrap.css);
@import url(./blocks/banner/__icon/bunner__icon.css);
@import url(./blocks/banner/__icon-text/bunner__icon-text.css);
@import url(./blocks/banner/__icon-img/bunner__icon-img.css);
@import url(./blocks/card/card.css);
@import url(./blocks/card/__title/card__title.css);
@import url(./blocks/card/__subtitle/card__subtitle.css);
@import url(./blocks/card/__subtitle-list/card__subtitle-list.css);
@import url(./blocks/card/__subtitle-img/card__subtitle-img.css);
@import url(./blocks/card/__pricing/card__pricing.css);
@import url(./blocks/card/__pricing/_price/card__pricing_price.css);
@import url(./blocks/card/__pricing/_discount/card__pricing_discount.css);
@import url(./blocks/card/__pricing/_details/card__pricing_details.css);
@import url(./blocks/card/__highlights/card__highlights.css);
@import url(./blocks/card/__highlight/card__highlight.css);
@import url(./blocks/card/__highlight/_promo/card__highlight_promo.css);
@import url(./blocks/card/__highlight/_hit/card__highlight_hit.css);
@import url(./blocks/card/__connect-btn/card__connect-btn.css);
@import url(./blocks/card/__additional-info/card__additional-info.css);
@import url(./blocks/card/__additional-info-text/card__additional-info-text.css);
@import url(./blocks/card/__additional-info-img/card__additional-info-img.css);
@import url(./blocks/equipment-section/equipment-section.css);
@import url(./blocks/equipment-section/__title/equipment-section__title.css);
@import url(./blocks/equipment-section/__subtitle/equipment-section__subtitle.css);
@import url(./blocks/equipment-section/__carousel/equipment-section__carousel.css);
@import url(./blocks/equipment-section/__carousel/__track/equipment-section__carousel__track.css);
@import url(./blocks/equipment-section/__carousel/__item/equipment-section__carousel__item.css);
@import url(./blocks/equipment-section/__carousel/__item-text/equipment-section__carousel__item-text.css);
@import url(./blocks/equipment-section/__carousel/__item-img/equipment-section__carousel__item-img.css);
@import url(./blocks/equipment-section/__carousel/__dots/equipment-section__carousel__dots.css);
@import url(./blocks/equipment-section/__carousel/__dot/equipment-section__carousel__dot.css);
@import url(./blocks/equipment-section/__carousel/__dot/_active/equipment-section__carousel__dot_active.css);
@import url(./blocks/equipment-section/__buttons/equipment-section__buttons.css);
@import url(./blocks/equipment-section/__button/equipment-section__button.css);
@import url(./blocks/equipment-section/__button/_active/equipment-section__button_active.css);
@import url(./blocks/connect-section/connect-section.css);
@import url(./blocks/connect-section/__title/connect-section__title.css);
@import url(./blocks/connect-section/__text/connect-section__text.css);
@import url(./blocks/connect-section/__subtitle/connect-section__subtitle.css);
@import url(./blocks/connect-section/__steps/connect-section__steps.css);
@import url(./blocks/connect-section/__step/connect-section__step.css);
@import url(./blocks/connect-section/__step-icon/connect-section__step-icon.css);
@import url(./blocks/connect-section/__step-icon-img/connect-section__step-icon-img.css);
@import url(./blocks/connect-section/__step-content/connect-section__step-content.css);
@import url(./blocks/connect-section/__link/connect-section__link.css);
@import url(./blocks/contact-section/contact-section.css);
@import url(./blocks/contact-section/__social-buttons/contact-section__social-buttons.css);
@import url(./blocks/contact-section/__social-button/contact-section__social-button.css);
@import url(./blocks/contact-section/__social-button/_whatsapp/contact-section__social-button_whatsapp.css);
@import url(./blocks/contact-section/__social-button/_telegram/contact-section__social-button_telegram.css);
@import url(./blocks/contact-section/__call-button/contact-section__call-button.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__text/footer__text.css);
@import url(./blocks/overlay/overlay.css);
@import url(./blocks/overlay/_active/overlay_active.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_active/popup_active.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__text/popup__text.css);
@import url(./blocks/popup/__submit-button/popup__submit-button.css);
@import url(./blocks/popup/__submit-button/_active/popup__submit-button_active.css);
@import url(./blocks/popup/__close-btn/popup__close-btn.css);
@import url(./blocks/popup-check-client/popup-check-client.css);
@import url(./blocks/popup-check-client/__client-button/popup-check-client__client-button.css);
@import url(./blocks/popup-client/popup-client.css);
@import url(./blocks/popup-client/__phone-number/popup-client__phone-number.css);
@import url(./blocks/popup-client/__link/popup-client__link.css);
@import url(./blocks/popup-form/popup-form.css);
@import url(./blocks/popup-form/__hint/popup-form__hint.css);
@import url(./blocks/popup-form/__group/popup-form__group.css);
@import url(./blocks/popup-form/__group-label/popup-form__group-label.css);
@import url(./blocks/popup-form/__group-input/popup-form__group-input.css);
@import url(./blocks/popup-form/__card/popup-form__card.css);
@import url(./blocks/popup-submit/popup-submit.css);







* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    
  }



/* Общие стили */















/* Карточка формы */


/* Стили полей ввода */








