.popup-submit {
  max-height: 100vh;
  height: auto;
  }

  @media (min-width: 650px) {
    .popup-submit {
      height: 230px;
    }
  }

  @supports (-webkit-touch-callout: none) {
    .popup-submit {
        height: 100dvh; /* динамическая высота экрана */
        max-height: 100vh;
        overflow: auto;
    }
}