.connect-section__steps {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

@media (min-width: 820px) {
  .connect-section__steps {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 15px;
  }
}

