.popup-compare__tile-row {
  position: relative;
  display: grid;  
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 8px;
  justify-content: start; /* или просто убрать, по умолчанию будет "stretch" */
  align-items: stretch;   /* тоже опционально */
  text-align: left;       /* общий текст слева */
}

@media (max-width: 1024px) {
  .popup-compare__tile-row {
      grid-column-gap: 4px;
  }
}