.popup-check-client {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  @media (min-width: 650px) {
    .popup-check-client {
      height: 300px;
    }
  }