@import url(../assets/vendor/normalize.css);
@import url(../assets/vendor/fonts/fonts.css);
@import url(./blocks/banner/banner.css);
@import url(./blocks/banner/__title/banner__title.css);
@import url(./blocks/banner/__title-wrap/banner__title-wrap.css);
@import url(./blocks/banner/__subtitle/banner__subtitle.css);
@import url(./blocks/banner/__icons-wrap/banner__icons-wrap.css);
@import url(./blocks/banner/__icon/banner__icon.css);
@import url(./blocks/banner/__icon-text/banner__icon-text.css);
@import url(./blocks/banner/__icon-img/banner__icon-img.css);
@import url(./blocks/card-wrapper/card-wrapper.css);
@import url(./blocks/card-wrapper/__snow-more-button-container/card-wrapper__snow-more-button-container.css);
@import url(./blocks/card-wrapper/__show-more-button/card-wrapper__show-more-button.css);
@import url(./blocks/card/card.css);
@import url(./blocks/card/__title/card__title.css);
@import url(./blocks/card/__subtitle/card__subtitle.css);
@import url(./blocks/card/__subtitle-list/card__subtitle-list.css);
@import url(./blocks/card/__subtitle-img/card__subtitle-img.css);
@import url(./blocks/card/__pricing/card__pricing.css);
@import url(./blocks/card/__pricing/_price/card__pricing_price.css);
@import url(./blocks/card/__pricing/_discount/card__pricing_discount.css);
@import url(./blocks/card/__pricing/_details/card__pricing_details.css);
@import url(./blocks/card/__info-btn/card__info-btn.css);
@import url(./blocks/card/__highlights/card__highlights.css);
@import url(./blocks/card/__highlight/card__highlight.css);
@import url(./blocks/card/__highlight/_promo/card__highlight_promo.css);
@import url(./blocks/card/__highlight/_hit/card__highlight_hit.css);
@import url(./blocks/card/__connect-btn/card__connect-btn.css);
@import url(./blocks/card/__connect-btn/_promo/card__connect-btn_promo.css);
@import url(./blocks/card/__buttons/card__buttons.css);
@import url(./blocks/card/__additional-info/card__additional-info.css);
@import url(./blocks/card/__additional-info-text/card__additional-info-text.css);
@import url(./blocks/card/__additional-info-img/card__additional-info-img.css);
@import url(./blocks/connect-section/connect-section.css);
@import url(./blocks/connect-section/__title/connect-section__title.css);
@import url(./blocks/connect-section/__text/connect-section__text.css);
@import url(./blocks/connect-section/__subtitle/connect-section__subtitle.css);
@import url(./blocks/connect-section/__steps/connect-section__steps.css);
@import url(./blocks/connect-section/__step/connect-section__step.css);
@import url(./blocks/connect-section/__step-icon/connect-section__step-icon.css);
@import url(./blocks/connect-section/__step-icon-img/connect-section__step-icon-img.css);
@import url(./blocks/connect-section/__step-content/connect-section__step-content.css);
@import url(./blocks/connect-section/__link/connect-section__link.css);
@import url(./blocks/contact-section/contact-section.css);
@import url(./blocks/contact-section/__social-buttons/contact-section__social-buttons.css);
@import url(./blocks/contact-section/__social-button/contact-section__social-button.css);
@import url(./blocks/contact-section/__social-button/_whatsapp/contact-section__social-button_whatsapp.css);
@import url(./blocks/contact-section/__social-button/_telegram/contact-section__social-button_telegram.css);
@import url(./blocks/contact-section/__call-button/contact-section__call-button.css);
@import url(./blocks/equipment-section/equipment-section.css);
@import url(./blocks/equipment-section/__title/equipment-section__title.css);
@import url(./blocks/equipment-section/__subtitle/equipment-section__subtitle.css);
@import url(./blocks/equipment-section/__carousel/equipment-section__carousel.css);
@import url(./blocks/equipment-section/__carousel/__track/equipment-section__carousel__track.css);
@import url(./blocks/equipment-section/__carousel/__item/equipment-section__carousel__item.css);
@import url(./blocks/equipment-section/__carousel/__item-text/equipment-section__carousel__item-text.css);
@import url(./blocks/equipment-section/__carousel/__item-img/equipment-section__carousel__item-img.css);
@import url(./blocks/equipment-section/__carousel/__dots/equipment-section__carousel__dots.css);
@import url(./blocks/equipment-section/__carousel/__dot/equipment-section__carousel__dot.css);
@import url(./blocks/equipment-section/__carousel/__dot/_active/equipment-section__carousel__dot_active.css);
@import url(./blocks/equipment-section/__buttons/equipment-section__buttons.css);
@import url(./blocks/equipment-section/__button/equipment-section__button.css);
@import url(./blocks/equipment-section/__button/_active/equipment-section__button_active.css);
@import url(./blocks/filter/filter.css);
@import url(./blocks/filter/__wrapper/filter__wrapper.css);
@import url(./blocks/filter/__icon/filter__icon.css);
@import url(./blocks/filter/__dropdown-menu/filter__dropdown-menu.css);
@import url(./blocks/filter/__dropdown-menu/_show/filter__dropdown-menu_show.css);
@import url(./blocks/filter/__dropdown-item/filter__dropdown-item.css);
@import url(./blocks/filter/__dropdown-item/_active/filter__dropdown-item_active.css);
@import url(./blocks/filter/__button/filter__button.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__text/footer__text.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__location-img/header__location-img.css);
@import url(./blocks/location/location.css);
@import url(./blocks/location/__wrapper/location__wrapper.css);
@import url(./blocks/location/__title/location__title.css);
@import url(./blocks/location/__search-placeholder/location__search-placeholder.css);
@import url(./blocks/location/__search-icon/location__search-icon.css);
@import url(./blocks/location/__search-button/location__search-button.css);
@import url(./blocks/location/__search-button/__img/location__search-button__img.css);
@import url(./blocks/location/__search-button/__icon/location__search-button__icon.css);
@import url(./blocks/location/__search-bar/location__search-bar.css);
@import url(./blocks/location/__city/location__city.css);
@import url(./blocks/location/__city-name/location__city-name.css);
@import url(./blocks/location/__city-icon/location__city-icon.css);
@import url(./blocks/location/__call-text/location__call-text.css);
@import url(./blocks/location/__call-section/location__call-section.css);
@import url(./blocks/location/__call-icon/location__call-icon.css);
@import url(./blocks/location/__call-button/location__call-button.css);
@import url(./blocks/nav-section/nav-section.css);
@import url(./blocks/nav-section/_button/nav-section__button.css);
@import url(./blocks/nav-section/_button/_active/nav-section__button_active.css);
@import url(./blocks/nav-section/__title/nav-section__title.css);
@import url(./blocks/nav-section/__subtitle/nav-section__subtitile.css);
@import url(./blocks/nav-section/__link/nav-section__link.css);
@import url(./blocks/nav-section/__buttons/nav-section__buttons.css);
@import url(./blocks/nav-section/__buttons-container/nav-section__buttons-container.css);
@import url(./blocks/overlay/overlay.css);
@import url(./blocks/overlay/_active/overlay_active.css);
@import url(./blocks/page/page.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_active/popup_active.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__text/popup__text.css);
@import url(./blocks/popup/__submit-button/popup__submit-button.css);
@import url(./blocks/popup/__submit-button/_active/popup__submit-button_active.css);
@import url(./blocks/popup/__close-btn/popup__close-btn.css);
@import url(./blocks/popup-submit/popup-submit.css);
@import url(./blocks/popup-form/popup-form.css);
@import url(./blocks/popup-form/__hint/popup-form__hint.css);
@import url(./blocks/popup-form/__group/popup-form__group.css);
@import url(./blocks/popup-form/__group-label/popup-form__group-label.css);
@import url(./blocks/popup-form/__group-input/popup-form__group-input.css);
@import url(./blocks/popup-form/__card/popup-form__card.css);
@import url(./blocks/popup-client/popup-client.css);
@import url(./blocks/popup-client/__phone-number/popup-client__phone-number.css);
@import url(./blocks/popup-client/__link/popup-client__link.css);
@import url(./blocks/popup-check-client/popup-check-client.css);
@import url(./blocks/popup-check-client/__client-button/popup-check-client__client-button.css);

.card__subtitle__span {
  margin-bottom: 5px;
  font-size: 14px;
  color: #555;
}

.card__subtitle__span_tarif-name {
  font-size: 20px;
  margin-bottom: 15px;
  color: #000;
}

.card__subtitle__item {
  font-size: 20px;
  font-weight: lighter;
  color: #141819;
}

.card__subtitle__item_none {
  font-size: 10px;
  font-weight: lighter;
  color: #666666;
}

.card__subtitle__item_router {
  font-size: 15px;
}

.card__subtitle__item_tarif-name {
  margin-bottom: 10px;
  font-size: 16px;
  color: #555;
}

.popup-card {
  width: 980px;
  height: 820px;
  border-radius: 16px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    
  }

  .popup-address {
    height: 100%;
    border-radius: 0;
  }


  @media (min-width: 650px) {
    .popup-address {
      width: 630px;
      height: 530px;
      border-radius: 16px;
    }
  }

.popup-address__input {
  background: #efeef3;
  border: 1px solid #aeaeb8;
  border-radius: 24px;
  line-height: 1.5;
  min-height: 48px;
  padding: 12px 48px 12px 28px;
  resize: none;
  width: 100%;
  transition: border-color .3s;
}

/* #suggestions div {
  border-bottom: 1px solid #e5e5ed;
  color: #0f191e;
  cursor: pointer;
  min-height: 57px;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: left;
}


#suggetion-container div:hover {
  background-color: #f9f9f9;
} */


.suggetion-container {
  border-bottom: 1px solid #e5e5ed;
  color: #0f191e;
  cursor: pointer;
  min-height: 57px;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.suggetion-container:hover {
  background-color: #f9f9f9;
} 

.suggetion-address {
  font-size: 16px;
}

.suggetion-city {
  font-size: 12px;
  color: #666666;
}


.flex {
    display: flex;
}

.popup-confirm {
    height: 20%;
}

.popup-confirm-button {
    display: block;
    width: 100%;
    margin: 8px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    background-color: #cccccc;
    cursor: not-allowed;
    color: #555;
}

.popup-confirm-button_active {
    color: #fff;
    background-color: #f8530f;
}


.popup-cities {
  position: absolute;
  width: 320px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
  z-index: 1000;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

.hidden {
  display: none;
}

.popup-close {
  position: absolute;
  top: 12px;
  right: 12px;
  background: none;
  border: none;
  font-size: 16px;
  color: #ccc;
  cursor: pointer;
}

.popup-close:hover {
  color: #999;
}

.popup-header {
  text-align: center;
  font-size: 16px;
  margin-bottom: 10px;
}

.popup-icon {
  font-size: 18px;
  color: #f8530f;
  margin-right: 5px;
}

.popup-selected-city {
  font-weight: bold;
  color: #f8530f;
}

.popup-city-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px 12px;
  padding: 0;
  list-style: none;
  margin: 0;
}

.popup-city-list li {
  text-align: left;
  cursor: pointer;
  font-size: 12px;
  color: #333;
}

.popup-city-list li:hover {
  text-decoration: underline;
}

.popup-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.popup-button {
  background-color: #f8530f;
  color: white;
  border: none;
  padding: 10px 16px;
  cursor: pointer;
  border-radius: 6px;
  font-size: 14px;
}

.popup-button:hover {
  background-color: #d9430c;
}

.popup-button-secondary {
  background-color: #e0e0e0;
  color: #333;
}

.popup-button-secondary:hover {
  background-color: #c9c9c9;
}

.local-city-input_active {
  font-weight: bold;
}

/* Общий стиль для баннера */
.tech-result-banner {
  color: #141819;
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 24px 16px 24px 16px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.hidden {
  display: none;
}

.tech-result-banner__content {
  display: flex;
  align-items: center;
  gap: 12px;
}

.tech-result-banner__icon {
  font-size: 24px;
}

.tech-result-banner__icon {
  width: 40px;
  height: 40px;
}

.tech-result-banner__icon_check {
  background: url('../assets/images/check_techResult.png') no-repeat center center;
  background-size: contain;
}

.tech-result-banner__status-text {
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 5px;
  text-align: left;
}

.tech-result-banner__address-text {
  font-size: 16px;
  margin: 0;
  text-align: left;
}

.tech-result-banner__edit-icon {
  width: 14px;
  height: 14px;
  background: url('../assets/images/edit-icon.png') no-repeat center center;
  background-size: contain;
  margin-left: 5px;
}

.tech-result-banner__edit-link {
  font-size: 14px;
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
}

.tech-result-banner__icon_stop {
  background: url('../assets/images/stop-icon.png') no-repeat center center;
  background-size: contain;
}

.tech-result-banner__edit-text {
  color: #686868;
  margin-top: 10px;
  text-align: left;
}

.local-city {
  margin-top: 10px;
  text-align: left;
  font-size: 18px;
  color: #686868;
  cursor: pointer;
}

.local-city_active {
  font-weight: bold;
}

@media (min-width: 650px) {
  #local-cities {
    margin-top: 20px;
    overflow-y: auto;
    max-height: 500px;
  }

  #suggestions {
    margin-top: 20px;
    max-height: 500px;
    overflow-y: auto;
  }
}

#local-cities {
  overflow-y: auto;
  max-height: 95%;
}

#suggestions {
  max-height: 80%;
  overflow-y: auto;
}

.popup-check-client__title {
  font-size: 24px;
}

.popup-form__title {
  font-size: 24px;
}

.popup-form__text {
  font-size: 18px;
}

.popup-client__title {
  font-size: 24px;
}

@media (min-width: 650px) {
  .popup-check-client__title {
    font-size: 32px;
  }

  .popup-form__title {
    font-size: 32px;
  }

  .popup-client__title {
    font-size: 32px;
  }
}

.equipment-section__carousel__item-text_model {
 font-size: 22px;
}

.equipment-section__carousel__item-text_price {
  font-size: 22px;
}

.equipment-section__carousel__item-img-section {
  align-items: center;
  background: rgb(239, 238, 243);
  border: 1px solid rgb(229, 229, 237);
  border-radius: 15px;
  display: flex;
  height: 150px;
  justify-content: center;
  margin-bottom: 16px;
  margin: 0 15px;
}

.equipment-section__carousel__items-text {

}


.suggetion-img {
  height: 15px;
}
