.popup-form {
  max-height: 100vh;
  height: auto;
  }
  
  @media (min-width: 650px) {
    .popup-form {
      height: 320px;
    }
  }

  @supports (-webkit-touch-callout: none) {
    .popup-form {
        max-height: 100vh;
        overflow: auto;
    }
}